<html lang="en">
    <head>
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
    <script src="js/boostrap.min.js"></script>
        <title>
        {% block head_title %}
        
        {% endblock %}
        </title>
    </head>
    <body>

    <div class = "container">
              
    <div class = "row-fluid">
    <div class = "span12 content_background">
    
    {% block title %}
    <div class ="page-header blog_title"><a href="http://www.jerichoblog.com/"><b>Jerichoblog</b></a></div>
    {% endblock %}
    
        <div class = "row-fluid">

            <div class = "span8 content_space">
                {% block content %}

                {% endblock %}
            </div>

            <div class = "span4 sorting_space">
                {% block category %}
       
                {% endblock %}

                {% block sidebar %}

                {% endblock %}
            </div>

        </div>
        </div>
    </div>
    </div>
    </body>
</html>
