<html lang="en">
    <head>
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" type="text/css">
    <script src="js/boostrap.min.js"></script>
    <link rel="icon" href="/static/admin/img/favicon.ico">
    <title>
        {% block head_title %}
        Jerichoblog
        {% endblock %}
        </title>
    </head>
    <body>

    <div class = "container">

    <div class = "row-fluid">
    <div class = "span12 content_background">

    {% block title %}
    <h1><div class ="blog_title"><a href="{% url homepage %}">Jerichoblog</a><div class= "blog_subtitle">And the Walls Came Tumbling Down</div></div></h1>

    {% endblock %}

        <div class = "row-fluid">
             <div class = "span9 well content_space">
                {% block blog_title %}
                {% endblock %}

                {% block content %}
                {% endblock %}
                
                {% block navigation %}
                <button class = "btn button_style"><a href="{% url homepage %}">Back to Blog</a></button>
                {% endblock %}

                {% block comments %}
                {% endblock %}
            </div>

            <div class = "span3 well sorting_space">
            {% block category %}
                <h3><a href="{% url view_category_list %}">Categories</a></h3>
                  {% if categories %}
                    <ul>
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>There are no posts.</p>
                {% endif %}
            {% endblock %}

            {% block sidebar %}
              <h3><a href="{% url view_history %}">Monthly Archive</a></h3>
              <ul>
              {% for month in months %} <br>
                 {% ifchanged month.0 %} {{month.0}} <br> {% endifchanged %} 
                   <a href="{% url blog.views.month month.0 month.1 %}">{{ month.2 }}</a>
                 {% endfor %}
              </ul>
            {% endblock %}
            </div>

        </div>
    </div>
    </div>
    </div>
    </body>
</html>
