{% extends 'base.html' %}
{% block head_title %}Jerichoblog -- Categories{% endblock %}
{% block title %}
<div class= "page-header">
    <h1><a href="http://www.jerichoblog.com/">Jerichoblog</a> Categories</h1>
</div>
{% endblock %}

{% block content %}
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}
