{% extends 'base.html' %}
{% block head_title %}Jerichoblog -- Categories{% endblock %}
{% block title %}
<div class= "page-header">
    <h1><a href="{% url homepage %}">Jerichoblog</a> Categories<small><b>&nbsp;&nbsp;{{ song_lyrics }}</b></small></h1>
</div>
{% endblock %}

{% block content %}
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><h3><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></h3></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}

{% block category %}
{% endblock %}
