{%extends 'base.html' %}

{# {%block head_title %} #}

{% load comments %}

{% block content %}
    <div class= "main">
    
        <!-- Posts -->
        {% if posts %}
            <ul>
            {% for post in posts.object_list %}
                <li><a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a></li>
                <ul>
                    <div class= "time"> <h4>{{ post.posted }}</h4> </div>
                    {{ post.body|linebreaks }}
                
                {% get_comment_count for post as comment_count %}
                <small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>
                </ul>
                {% for category in post.category.all %}
                    <span class="badge category_small"> <a href= "{{ category.get_absolute_url }}">{{ category }}</a></span>
                {% endfor %}
        {% endfor %}
            </ul>

        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        <!-- end Posts -->

        <!-- Pagination -->
        <br>
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div>
                <ul class = "pager">
                    {% if posts.has_previous %}
                    <li class = "previous">
                        <a href= "?page={{ posts.previous_page_number }}">&larr; Newer</a></li>
                    {% else %}
                    <li class = "previous disabled"> 
                        <a href= "?page={{ posts.previous_page_number }}">&larr; Newer</a></li>
                    {% endif %}
                    
                    <li>
                    <span>
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                    </li>

                    {% if posts.has_next %}
                    <li class = "next">
                        <a href= "?page={{ posts.next_page_number }}">Older &rarr;</a></li>
                    {% else %}
                    <li class = "next disabled">
                        <a href= "?page={{ posts.next_page_number }}">Older &rarr;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block navigation %}
{% endblock %}
