{%extends 'base.html' %}

{# {%block head_title %} #}

{% block sidebar %}
    <h3>Monthly Archive</h3>
    {% for month in months %}<br/>
        {% ifchanged month.0 %} {{month.0}} <br/> {% endifchanged %} 
        <a href="{% url blog.views.month month.0 month.1 %}">{{ month.2 }}</a>
    {% endfor %}
{% endblock %}

{% block category %}
    <h3>Categories</h3>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}

{% load comments %}

{% block content %}
    <div class= "main">
    
        <!-- Posts -->
        {% if posts %}
            <ul>
            {% for post in posts.object_list %}
                <li><a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a></li>
                <ul>
                    <div class= "time"> <h4>{{ post.posted }}</h4> </div>
                    {{ post.body }}
                </ul>
                {% get_comment_count for post as comment_count %}
                <small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>
            {% endfor %}
            </ul>

        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        <!-- end Posts -->

        <!-- Pagination -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div class = "pagination pagination-centered">
                <ul>
                    <li>
                    {% if posts.has_previous %}
                        <span><a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a></span>
                    {% endif %}
                    </li>
                    
                    <li>
                    <span class= "current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                    </li>

                    <li>
                    {% if posts.has_next %}
                        <span><a href= "?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a></span>
                    {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
