{%extends 'base.html' %}

{# {%block head_title %} #}

{% load comments %}

{% block content %}
    <div class= "main">
    
        <!-- Posts -->
        {% if posts %}
            <ul>
            {% for post in posts.object_list %}
                <li><a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a></li>
                <ul>
                    <div class= "time"> <h4>{{ post.posted }}</h4> </div>
                    {{ post.body|linebreaks }}
                </ul>
                {% get_comment_count for post as comment_count %}
                <small>{{ comment_count }} comment{{ comment_count|pluralize }}</small>
            {% endfor %}
            </ul>

        {% else %}
            <p>There are no posts.</p>
        {% endif %}
        <!-- end Posts -->

        <!-- Pagination -->
        {% if posts.object_list and posts.paginator.num_pages > 1 %}
            <div class = "pagination pagination-centered">
                <ul>
                    <li>
                    {% if posts.has_previous %}
                        <span><a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a></span>
                    {% endif %}
                    </li>
                    
                    <li>
                    <span class= "current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                    </li>

                    <li>
                    {% if posts.has_next %}
                        <span><a href= "?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a></span>
                    {% endif %}
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
