{% extends 'base.html' %}
{% block head_title %}Jerichoblog -- Archive{% endblock %}
{% block title %}
<div class = "page-header">
    <h1><a href="{% url homepage %}">Jerichoblog</a> Archive<small><b>&nbsp;&nbsp;{{song_lyrics}}</b></small></h1>
</div>
{% endblock %}

{% block content %}
    {% if months %}
        <ul>
        {% for month in months %} <br>
            <h4>{% ifchanged month.0 %} {{month.0}} <br> {% endifchanged %} </h4>
            <h3><a href="{% url blog.views.month month.0 month.1 %}">{{ month.2 }}</a>
        {% endfor %}
        </ul></h3>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}
{% endblock %}


