a{
    color: ForestGreen;
}

a:hover{
    color: Green;
}

a:visited{
    color: DarkGreen;
}

ul {
    list-style-type: none;
}

body { 
    background: url(/static/admin/img/furley_bg.png) repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: DarkGreen
}

p, div{
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 17px;
}

.content_background{
    background: LightSteelBlue;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.content_space{
    background: LightYellow;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
}

.sorting_space{
    background: LightYellow;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
}

.blog_title{
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 80px;
    line-height: 50px;
    text-shadow: 1px 2px 2px #ccc;
    margin-left: 10px;
}

.post_title{
    font-size: 30px;
    line-height: 35px;
}

.sorting_title{
    font-size: 40px;
    line-height: 45px;
}
